# ── Generados por ANTLR4 (se regeneran con: antlr4 -Dlanguage=Python3 -visitor -no-listener Language.g4) ──
Language.interp
Language.tokens
LanguageLexer.interp
LanguageLexer.tokens
LanguageLexer.py
LanguageListener.py
LanguageParser.py
LanguageVisitor.py

# ── Carpeta interna de ANTLR extension para VSCode ──
.antlr/

# ── Entornos virtuales de Python ──
.venv/
venv/
env/

# ── Caché de Python ──
__pycache__/
*.py[cod]
*.pyo

# ── IDEs ──
.idea/
.vscode/
*.swp
